body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* or any color you prefer */
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    /* Your header styles */
}

main {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

#search-form {
    margin-bottom: 40px;
}

#search-container {
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    align-items: left; /* Align items in the center horizontally */
    gap: 10px; /* Add space between input and button */
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 20%; /* Take full width of the container */
    border-radius:10px;
}

#search-btn {
    padding: 10px;
    background-color: #6c5ce7; /* Example purple color */
    color: #fff;
    border: none;
    cursor: pointer;
    width: 10%; /* Example width, adjust as needed */
    border-radius:10px;
    font-weight: bold;
}


#game-library h2 {
    text-align: left;
    margin-bottom: 20px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game {
    background: #1e1e1e; /* Dark background for the game card */
    margin: 10px;
    padding: 20px;
    width: 300px; /* Fixed width or as per your design */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Card shadow */
    text-align: left;
    color:aqua;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.game-overlay {
    position: absolute;
    top: 50%; /* Start the overlay halfway down the container */
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); /* Gradient from transparent to semi-transparent black */
    z-index: 1; /* Below the text content but above the background image */
}


/* Ensure that all content is positioned above the overlay */
.game h3,
.game p,
.game button {
    position: relative;
    z-index: 2; /* Above the overlay */
}

.game img {
    width: 100%; /* Make image fill the card width */
    height: auto;
    border-radius: 5px; /* Rounded corners for the image */
    margin-bottom: 20px;
}

.game h3 {
    margin-bottom: 10px;
}

.game p {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.game button {
    background-color: #6c5ce7; /* Button background color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
